* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #282c35;
    overflow-y: scroll;
    width: 60%;
    margin: auto;
    height: 100%;
    font-family: 'Castoro', serif;
    font-size: 18px;
}

.header {
    padding: 2rem 0;
}

h2 {
    padding: 1rem 0;
}

.post {
    margin: 2rem 0;
    line-height: 1;
}

.post-title {
    font-weight: 600;
}

#description {
    line-height: 1.5;
}

.link-title {
    text-decoration: none;
    color: #282c35;
}

.link-title:hover {
    color: #00b4d8;
}

.footer {
    margin-top: 5rem;
    padding: 2rem 0;
}

.link-footer {
    text-decoration: none;
    color: #282c35;
}

.link-footer:hover {
    color: #00b4d8;
}

hr {
    border: none;
    border-top: 1px solid #282c35;
}

img {
    max-width: 100%;
    max-height: 100%;
}

pre {
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    overflow: auto;
    background-color: #282C35;
}

code {
    font-family: "Fira Code", monospace;
    font-size: .85rem;
}

@media only screen and (max-width: 1296px) {
    body {
        width: 70%
    }
}

@media only screen and (max-width: 1000px) {
    body {
        width: 80%
    }
}

@media only screen and (max-width: 768px) {
    body {
        width: 90%
    }
}