$fontTitle: 'Poppins', sans-serif;
$fontContent: 'Roboto', sans-serif;
$codeFont: 'Roboto Mono', monospace;

$marginGeneral: 0 10rem;

$green: #00da86;
$white: #F1E9E5;
$gray: #dfdfdf;
$black: #171717;
$lightBlack: #202020;
$darkGray: #2B2B2B;

$colorSelection: #6E85B2;
$articleColor: #9593a5;